<!-- View Mode -->
<div class="mb-4">
  <h2 class="fs-5 fw-medium mb-4">Personal Information</h2>

  <div class="py-3 border-bottom d-flex">
    <div class="col-4 col-md-3 fw-medium text-secondary">Email</div>
    <div>{{ user().email }}</div>
  </div>

  @if (user().name) {
    <div class="py-3 border-bottom d-flex">
      <div class="col-4 col-md-3 fw-medium text-secondary">Name</div>
      <div>{{ user().name }}</div>
    </div>
  }
</div>

<hr class="my-4" />

<div>
  <h2 class="fs-5 fw-medium mb-4">Account Information</h2>

  <div class="py-3 border-bottom d-flex">
    <div class="col-4 col-md-3 fw-medium text-secondary">Account Type</div>
    <div>{{ user().isAdmin ? 'Administrator' : 'Regular User' }}</div>
  </div>

  <div class="py-3 border-bottom d-flex">
    <div class="col-4 col-md-3 fw-medium text-secondary">Created</div>
    <div>{{ user().createdAt | date }}</div>
  </div>

  @if (user().updatedAt) {
    <div class="py-3 border-bottom d-flex">
      <div class="col-4 col-md-3 fw-medium text-secondary">Last Updated</div>
      <div>{{ user().updatedAt | date }}</div>
    </div>
  }
</div>
