<div class="card shadow mb-4">
  <div class="card-header">
    <h5 class="card-title mb-0">Billy Strings</h5>
    <h6 class="card-subtitle text-muted">Pine Knob - 10/4/2024</h6>
  </div>

  <div class="card-body p-1">
    <img
      src="https://i.etsystatic.com/34128228/r/il/b3b09a/6344453758/il_794xN.6344453758_ix9c.jpg"
      class="img-fluid rounded"
      alt="Billy Strings concert poster" />
  </div>

  <div class="card-footer text-end">
    <button class="btn btn-outline-primary">
      <i class="bi bi-tag-fill me-1"></i>
      bid $207.00
    </button>
  </div>
</div>
