<div class="card shadow mb-3 mb-md-4">
  <div class="card-header py-2 py-md-3">
    <h5 class="card-title mb-0 fs-6 fs-md-5">
      <app-comma-separated-list [items]="artistNames()" [autoAdjust]="true">
      </app-comma-separated-list>
    </h5>
    <h6 class="card-subtitle text-muted small">
      <app-comma-separated-list
        [items]="eventDetailsArray()"
        [autoAdjust]="true">
      </app-comma-separated-list>
    </h6>
  </div>

  <div class="card-body p-1">
    <div class="poster-image-container">
      <!-- Always show the placeholder, the image will cover it when loaded -->
      <div class="poster-placeholder"></div>
      <img
        src="{{ poster()?.imageUrls?.[0] || '' }}"
        class="poster-image rounded"
        [alt]="poster()?.title"
        [class.loaded]="imageLoaded()"
        (load)="onImageLoad()"
        (error)="onImageError()" />
    </div>
  </div>

  <div class="card-footer py-2 py-md-3 text-end">
    <button
      class="btn btn-outline-primary btn-sm btn-md-md"
      [routerLink]="['/posters', poster()?.id]">
      <i
        class="bi"
        [ngClass]="{
          'bi-tag-fill': poster()?.isAuction,
          'bi-cart': !poster()?.isAuction,
        }"></i>
      {{ priceDisplay() }}
    </button>
  </div>
</div>
