@use '@angular/material' as mat;
@use './styles/theme_colors.scss' as theme-colors;
@include mat.core();

@import 'tailwindcss';

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Montserrat,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
